*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fix{
    width: 100%;
    overflow: hidden;
}

.container{
    width: 1170px;
    margin: auto;
}
.row{
    margin: 0 -15px;
}
body{
    font-family: 'Lato', sans-serif;
}

.col-4{width: 33.33%; float: left; padding:0 15px ;}
.col-6{width: 50%; float: left; padding:0 15px ;}
.col-3{width: 25%;float: left; padding:0 15px ;}
.col-8{width: 66.66%;float: left; padding:0 15px ;}
.col-12{ width: 100%;float: left; padding: 0 15px;}

.pt-70{padding-top: 70px;}
.pb-70{padding-bottom: 70px;}
.bg-color{background-color: #222222;}
.bg-colr-f{background-color: #171a21;}
.bg-gray{background-color:#f2f2f2;}

a{
    transition: .3s;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}




header {
	border-top: 5px solid #4272d7;
}
.logo a img {
	float: left;
	display: inline-block;
	margin-top: 33px;
}
.header-searce {
	float: right;
	margin-top: 51px;
}
.header-searce .searce-icon {
    margin-left: 25px;
	padding-left: 25px;
	position: relative;
}

.header-searce .searce-icon a::before {
	position: absolute;
	content: "";
	left: 0;
	background-color: #cccccc;
	height: 15px;
	width: 1px;
	top: 3px;
}
.main-menu {
    float: right;
}
.main-menu ul li {
	display: inline-block;
	margin-left: 40px;
	padding: 50px 0;
    position: relative;
}
.main-menu ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #666666;
    text-transform: uppercase;
}
.main-menu ul li:hover a{
    color: #4272d7;
}
.main-menu ul li .sub-menu ul{
    position: absolute;
    border-top:5px solid #4272d7;
    background: #171a21;
    width: 260px;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 77;
}
.main-menu ul li:hover .sub-menu ul{
    visibility: visible;
    opacity: 1;
}
.sub-menu ul li {
	border-bottom: 2px solid#1e2128;
	display: block;
	margin: 0;
	padding: 25px;
}
.main-menu ul .sub-menu ul li a{
    color: #fff;
    font-size:13px ;
    padding: 15px 20px; 
 }
.sub-menu ul li:hover{
    background-color: #4272d7;
}

.main-menu ul li .sub-menu ul li .sub-menu ul{
    left: 100%;
    top:0 ;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}
.main-menu ul li .sub-menu ul li:hover .sub-menu ul{
    visibility: visible;
    opacity: 1;
}
.single-slider{
    text-align: center;
    padding: 180px 0;
    width: 100%;
    background-size: cover;
}
.single-slider h4 {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.single-slider h4 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .single-slider h2 {
    font-size: 72px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
  }
  .single-slider .btn a {
    font-size: 15px;
    color: #fff;
    border: 1px solid #4272d7;
    padding: 13px 28px;
    text-decoration: navajowhite;
    font-weight: 700;
    background-color: #4272d7;
  }

  .activ-slide .owl-nav button{
    position: absolute;
    width: 35px;
    height: 35px;
    background: #3d3d3d !important;
    left: 50px;
    top: 50%;
    color: #fff !important;
    text-align: center;
    font-size: 18px!important;
    border-radius: 5px;
    font-weight: 700 !important;
}
.activ-slide .owl-nav button.owl-next{
    left: auto;
    right: 50px ; 
}
.activ-slide .owl-dot {
    background:#bdbdbd!important;
    border-radius: 100%;
    display: inline-block !important;
    height: 10px !important;
    width: 10px!important;
    margin: 0 2px!important;
}
.activ-slide .owl-dots {
    text-align: center;
    position: relative;
    margin-top: -24px;
    margin-bottom: 11px;
    z-index:44 ;
    line-height: 0;
}
.owl-dot.active{
    background: #4272d7 !important;
}
.cta-area{
    background: #4272d7;
    padding: 30px 0;
}
.cta-text p{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
}
.cta-btn{
    text-align: right;
}
.cta-btn a{
    border: 2px solid #fff;
    padding: 17px 45px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}





.feature-area{
    padding: 70px 0;
}
.single-feature{
    position: relative;
    overflow: hidden;
}
.single-feature:hover .feature-content{
    transform: translateY(0);
}
.feature-icon {
    color: #fff;
    margin-bottom: 30px;
}
.feature-icon i{
    font-size: 35px;
  
}
.feature-icon h3{
    font-size: 18px;
    display: inline-block;
}
.feature-content{
    padding: 30px;
    background: #4272d7;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
    transform: translateY(72%);
}
.feature-content p{
    color: #e6e6e6;
    line-height: 25px;
    margin-bottom: 25px;
}
.feature-content a{
    color: white;
    text-decoration: none;
}
.service-area{
    padding: 70px 0;
    background: #f0f0f0;
    padding-bottom:30px ;
}
.single-service {
    display: flex;
    margin-bottom: 50px;
}
.service-icon a {
    height: 50px ;
    width: 50px;
    background: #4272d7;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    display: inline-block;
}
.service-content {
	margin-left: 20px;
	margin-top: -4px;
}
.service-content h3{
    font-weight: 700;
    font-size: 16px;
    color: #5f5f5f;
    margin-bottom: 20px;
}
.service-content p{
    font-size: 15px;
    color: #666666;
    line-height: 25px;
}
.section-taitel{
    text-align: center;
    margin-bottom: 100px;
}
.section-taitel h2{
    font-size:20px ;
    font-weight: 700;
    color:#333333 ;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
}
.section-taitel.whait-color{
    margin-bottom: 50px;
}
.section-taitel.whait-color h2{
    color: #ffffff;
}

.section-taitel h2::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 40px;
    background: #adadad;
    margin: auto;
}




.single-project{
    position: relative;
 }
.project-img{
    position: relative;
}
.single-project:hover .project-img::before{
    opacity: 1;
    visibility: visible;
}
.project-img::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #507bd6;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}
.project-img img{
    width: 100%;
}
.project-content{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    transition:.3s ;
    opacity: 0;
}
.single-project:hover .project-content{
    opacity: 1;
    visibility: visible;
}
.project-content a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #e6e6e6;
    line-height: 18px;
    display: block;
}
.project-content span{
    font-size: 13px;
    color: #cccccc;
    margin-top: 20px;
    display: inline-block;
}

.whit-color h2{
    color: #fff;
}

.video{
    position: relative;
}

.video a{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 55px;
    width: 55px;
    font-size: 55px;
    margin: auto;
}

.video-icon a{
    color: #555555;
    font-size: 18px;
    float: left;
}
.video-icon h3{
    font-size:16px ;
    font-weight: 700;
    color:#555555;
    display: inline-block;
    margin-left: 15px;
}

.video-content p{
    font-size: 15px;
    line-height: 25px;
    color: #707070;
    margin-top:20px ;
    margin-bottom: 30px;
}

.working-us-area{
    padding: 180px 0;
    text-align: center;
}


.working-content a {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 20px 40px;
    background-color: #4272d7;
    text-decoration: none;
}

.working-content p{
    color: #555555;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 45px;
}

.section-taitel.left {
	display: inline-block;
	margin-bottom: 25px;
}
.section-taitel.left h2::after{
    margin: 0;
}
.blog-wrapper{
    display: flex;
}
.blog-content h2 {
	font-size: 18px;
	font-weight: 700;
	color: #555555;
	margin-bottom: 10px;
}
.blog-content p {
	color: #666666;
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 20px;
}
.meta a {
	color:#555555;
	font-size:13px;
	text-decoration:none;
}
.blog-content{
    margin-left: 15px;
}
span.right {
	margin-left: 39px;
}
.blog-img .img {
    width: 34%;
    float: left;
}
.blog-content {
    width: 60%;
    display: inline-block;
    margin-left: 25px;
}


.blog-area .owl-prev {
	position: absolute;
	left: 160px;
	top: -40%;
	font-size: 18px !important;
	height: 30px;
	width: 30px;
	border: 2px solid #999999 !important;
	color: #999999 !important;
	text-align: center;
	line-height: 20px !important;
	border-radius: 50%;
}


.blog-area .owl-next {
	position: absolute;
	left: 195px;
	top: -40%;
	font-size: 18px !important;
	height: 30px;
	width: 30px;
	border: 2px solid #999999 !important;
	color: #999999 !important;
	text-align: center;
	line-height: 20px !important;
	border-radius: 50%;
}

.testi-icon {
	color: #cccccc;
	font-size: 60px;
    display: inline-block;
}
.testimonial{
    display: flex;
}
.testimonial p {
    font-size: 15px;
    line-height: 25px;
    color: #858585;
    border-bottom: 1px solid#e6e6e6;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-top: 12px;
}
.profile{
    margin-top: 15px;
    margin-left: 60px;
}
.name{
    float: left;
     margin-left: 15px;
 }

 .name h2{
     font-size: 13px;
     font-weight: 700;
     text-transform: uppercase;
     color: #555555;
 }

 .name h3 {
     font-size: 13px;
     margin-top: 10px;
     color: #555555;
 }
 .profile img {
	float: left;
    width: 10% !important;
}
.activ-testimonial .owl-prev {
	position: absolute;
	left: 152px;
	top: -36%;
	font-size: 18px !important;
	height: 30px;
	width: 30px;
	border: 2px solid #999999 !important;
	color: #999999 !important;
	text-align: center;
	line-height: 20px !important;
	border-radius: 50%;
}
.activ-testimonial .owl-next {
	position: absolute;
	left: 185px;
	top: -36%;
	font-size: 18px !important;
	height: 30px;
	width: 30px;
	border: 2px solid #999999 !important;
	color: #999999 !important;
	text-align: center;
	line-height: 20px !important;
	border-radius: 50%;
}

.barand-area .owl-carousel .owl-item img {
	display: block;
	width: inherit;
}
#scrollUp {
	position: absolute;
	height: 50px;
	width: 50px;
	background: red;
	bottom: 0;
	right: 10px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	border-radius: 12px;
}
.footer-widget p{
    color: #767779;
    font-size:13px ;
    line-height:22px;
    margin: 15px 0;
}
.footer-icon a{
    font-size: 15px;
    color:#fff;
    background: #1b2334;
    margin-right: 10px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    transition: .3s;
}
.footer-icon a:hover{
    background-color: #507bd6;
}
.footer-widget h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;       
}

.footer-link{
    position: relative;
}

.footer-link li{
    padding-left: 10px;
}

.footer-link li a{
    text-decoration: none;
    color: #999999;
    font-size: 13px;
    line-height: 36px;
}
.footer-link li:before{
    position: absolute;
    content: "";
    left: 0;
    margin-top: 6%;
    height: 5px;
    width: 5px;
    background-color: #45484d;
    line-height: 0;
}
.footer-contract li a{
    text-decoration: none;
    color: #999999;
    font-size: 13px;
    line-height: 22px;
}
.footer-widget form input{
    height: 40px;
    width: 100%;
    border: 0;
    background-color: #2f3138;
    color: #fff;
    padding: 0 15px;
}

.footer-widget form{
    position: relative;
}

.footer-widget form button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 90px;
    background-color: #4272d7;
    border: 0;
    color: #fff;
}
.Copyright-area{
    padding: 30px 0;
    background-color: #171a21;
    border-top: 1px solid#23262c;
}
.Copyright-area p{
    text-align: center;
    color: #999999;
    font-size: 13px;
}


